In [4]:
import pandas as pd
df = pd.read_csv('data/sample.csv')
df

   user_id category                   ts  amount        tags        meta
0        1        A  2025-08-16 10:01:00    10.0  ['x', 'y']  {'k': '1'}
1        1        A  2025-08-16 10:05:00    20.0       ['y']  {'k': '2'}
2        2        B  2025-08-16 09:59:00     5.5       ['z']  {'k': '3'}
3        2        B  2025-08-16 10:07:00     7.0          []  {'k': '4'}
4        3        A  2025-08-16 11:00:00     NaN       ['x']  {'k': '5'}

In [6]:
df.iloc[0]

user_id                       1
category                      A
ts          2025-08-16 10:01:00
amount                     10.0
tags                 ['x', 'y']
meta                 {'k': '1'}
Name: 0, dtype: object